<%= render partial: 'partials/new_topic_form', locals: { parent_id: nil, redirect_id: nil, not_hidden: true } %>

<ol class="first">
  <% @topics.each do |topic| %>
      <li>
        <%= link_to topic_path(topic) do %>
          <%= topic.created_at %> <%= topic.title %>
        <% end %>
      </li>
  <% end %>
</ol>
