<ol class="first">
  <li>
    <%= @topic.created_at %> <%= @topic.title %>
    <button type="button" name="reply" class="reply-btn">reply</button>
    <div class="hidden form-wrapper">
      <%= render partial: 'partials/new_topic_form', locals: { parent_id: @topic.id, redirect_id: @topic.id } %>
    </div>
    <%= render partial: "partials/comments", locals: { children: @topic.replies, redirect_id: @topic.id  } %>
  </li>
</ol>
