<ol>
  <% children.each do |child| %>
    <li>
      <%= child.created_at %> <%= child.title %>
      <button type="button" name="reply" class="reply-btn" data-topic-id="<%= child.id %>">reply</button>
      <div class="hidden form-wrapper">
          <%= render partial: 'partials/new_topic_form', locals: { parent_id: child.id, redirect_id: redirect_id } %>
      </div>
      <%= render partial: 'partials/comments', locals: { children: child.replies, redirect_id: redirect_id  } %>
    </li>
  <% end %>
</ol>
