<%= form_for @new_topic, url: { action: "create" } do |f| %>
  <%= f.hidden_field :parent_id, value: parent_id %>
  <%= f.hidden_field :redirect_id, value: redirect_id %>
  <%= f.text_area :title, size: "60x12" %>
  <%= f.submit "Submit query" %>
<% end %>
