// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ol {
  counter-reset: item;
}

.first {
  padding-left: 0px;
}

li {
  display: block;
}

li:before {
  content: counters(item, ".") "";
  counter-increment: item;
}
